@media screen and (max-width: 500px) { 
                                                    /*banner - section*/


    #box-banner > img {
        display: flex;
        max-width: 420px;
    }
    
    .box-descricao {
        padding: 20px;
    }
    .box-descricao > h1 { 
        align-items: center;
        margin: auto;
        text-align: center;

    
}
}